* {
    box-sizing: border-box;
  }

  body {
    background-color: #EDF2F4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  h1{
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }

  p{
    margin: 0;
  }

  .site-header{
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 0.25rem 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .content {
    width: 60%;
    margin: auto;
    padding: 2rem 0;
  }

  .script_intro{
    padding: 12px;
    display: inline-block;
    font-weight: bold;
  }
  
  .question-text{
    width: 100%;
    padding: 12px;
    resize: vertical;
  }

  .stations, .offence, input[type=text], select, textarea, input[type=datetime-local], .select2-container--default .select2-selection--single {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .select2.select2-container {
    width: 100% !important;
  }
  
  .select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 41px;
    outline: none !important;
    transition: all .15s ease-in-out;
  }
  
  .select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: normal;
    padding-right: 33px;
  }
  
  .select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 39px;
    width: 33px;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
  }

  #arrival {
    position: relative;
    width: 100%;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  #firm{
    display: none;
  }

  #firm_label{
    display: none;
  }

  #app_arranged_label{
    display: none;
  }

  #app_arranged{
    display: none;
  }

  #int_required{
    display: none;
  }

  #int_required_label{
    display: none;
  }

  #sol_select{
    display: none;
  }

  #sol_select_label{
    display: none;
  }

  #sol_num{
    display: none;
  }

  .sol_select_group {
    display: flex;
  }

  .sol_select_group .select2-container{
    display: block;
}

  .sol_select_group .sol_num{
    display: block;
    width: 25%;
    text-align: center;
  }

  .dp_name_group {
    display: flex;
    justify-content: space-between;
  }

  .dp_name_field{
    display: block;
    width: 49%;
    font: 1.5rem;
  }

  input[type=text].dp_name{
    width: 100%;
  }

  .btn_container{
    display: flex;
    width: 100%;
  }
  .submit_btn{
    margin: auto;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }